<div class="wrapper">
  <div class="about__nav">
    <nav>
      <ul>
        <!-- <li><a href="#panel1" class="about__btn"> WHO WE ARE </a></li> -->
        <li><a href="#panel2" class="about__btn"> ADVISORY BOARD </a></li>
        <li><a href="#panel3" class="about__btn"> TRUSTEES </a></li>
        <li><a href="#panel4" class="about__btn"> INITIATIVES </a></li>
      </ul>
    </nav>
  </div>
</div>
