<footer>
  <div class="footer-container">
    <div class="footer-section-one">
      <div class="social__links">
        <ul>
          <li>
            <a
              href="https://www.facebook.com/kuenyehiaprize"
              target="_blank"
              rel="noopener noreferrer"
              >FACEBOOK</a
            >
          </li>
          <li>
            <a
              href="https://www.instagram.com/kuenyehiaprize/"
              target="_blank"
              rel="noopener noreferrer"
              >INSTAGRAM</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-wrapper">
      <div class="map">
        <nav>
          <ul>
            <li><a href="/prize"> PRIZE </a></li>
            <li><a href="/about"> ABOUT US</a></li>
            <li><a href="">SUPPORT US </a></li>
            <li><a href=""> CONTACT US </a></li>
            <li><a href="/blog"> BLOG </a></li>
            <li><a href=""> APPLY </a></li>
          </ul>
        </nav>
      </div>
      <div class="opening__hours">
        <p>
          Opening Times <br />
          Tues–Fri: 10am–6pm <br />
          Sat & Sun: 11am–5pm <br />
          Mondays: Closed
        </p>
      </div>
      <div class="location__info">
        <p>
          Physical Address: <br />
          20 Tedzi Street, South Tesano, Accra
        </p>
        <p>
          Postal Address: <br />
          P. O. Box AP 147, Akropong, Eastern Region <br />
          Telephone: <br />
          <a href="tel:+233302769302">(+233) (0)30 276 9302 </a> |
          <a href="tel:+233207998332">(0)20 799 8332</a> <br />
          Email:
          <a href="mailto:info@kuenyehiaprize.org">info@kuenyehiaprize.org</a>
        </p>
      </div>
    </div>
  </div>
</footer>
