<footer>
  <div class="footer-container">
    <div class="footer-section-one">
      <div class="social__links">
        <ul>
          <li>
            <a
              href="https://www.facebook.com/kuenyehiaprize"
              target="_blank"
              rel="noopener noreferrer"
              >FACEBOOK</a
            >
          </li>
          <li>
            <a
              href="https://www.instagram.com/kuenyehiaprize/"
              target="_blank"
              rel="noopener noreferrer"
              >INSTAGRAM</a
            >
          </li>
          <li>
            <a
              href="https://www.linkedin.com/company/kuenyehia-trust-for-contemporary-art/"
              target="_blank"
              rel="noopener noreferrer"
              >LINKEDIN</a
            >
          </li>
          <li>
            <a
              href="https://www.youtube.com/channel/UCzRf_lgM81ZkKdHx_42oLfQ"
              target="_blank"
              rel="noopener noreferrer"
              >YOUTUBE</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-wrapper">
      <div class="map">
        <nav>
          <ul>
            <li><a href="/"> HOME </a></li>
            <li><a href="/prize"> PRIZE </a></li>
            <li><a href="/about"> ABOUT US</a></li>
            <li><a href="">SUPPORT US </a></li>
            <li><a href=""> CONTACT US </a></li>
            <!-- <li><a href="/blog"> BLOG </a></li> -->
            <li><a href=""> APPLY </a></li>
          </ul>
        </nav>
      </div>
      <div class="opening__hours">
        <p>
          Opening Times <br />
          Tues–Fri: 10am–6pm <br />
          Sat & Sun: 11am–5pm <br />
          Mondays: Closed
        </p>
      </div>
      <div class="location__info">
        <p>
          Physical Address: <br /> 
          Kuenyehia Prize for contemporary Art NFP
        </p>
        
        <p> <strong>U.S.A. 🇺🇸</strong> <br>
         1245 S Michigan Ave STE 1000 <br/>
        Chicago, IL 60605 <br>
        <strong> T: </strong>
        <a href="tel:+16303464100">(+1) 630-346-4100 </a> 
        </p> 
        
        <p> <strong>Ghana 🇬🇭</strong> <br>
         The Akpohornu, 20 Tedzi Street <br/>
        South Tesano, Accra, Ghana.
        </p>
        <p> <br />
          <strong> T: </strong>
          <a href="tel:+233302769302">(+233) (0)30 276 9302 </a> |
          <a href="tel:+233207998332">(0)20 799 8332</a> <br />
          <strong> E: </strong> 
          <a href="mailto:info@kuenyehiaprize.org">info@kuenyehiaprize.org</a>
        </p>
      </div>
    </div>
    <p id="copyright">Copyright © The Kuenyehia Prize&nbsp;</p>
  </div>
</footer>
