<footer>
      <div class="footer-container">
      <div class = "footer-section-one">
      <div class ="social__links">
        <ul>
        <li>FACEBOOK</li>
        <li>INSTAGRAM</li>
        <li>YOUTUBE</li>
        </ul>
      </div>
      </div>
        <div class="footer-wrapper">
          <div class="map">
            <nav>
              <ul>
                <li><a href="/prize"> PRIZE </a></li>
                <li><a href="/about"> ABOUT US</a></li>
                <li><a href="">SUPPORT US </a></li>
                <li><a href=""> CONTACT US </a></li>
                <li><a href="/blog"> BLOG </a></li>
                <li><a href=""> APPLY </a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </footer>
  