  <header class="nav">
        <div class="inner-nav-wrap">
          <div class="logo">
            <a href="/">
              <img src="{{ '/assets/logo.png' | url }}" alt="" />
            </a>
          </div>
          <nav>
            <ul class="links">
              <li><a href=""> PRIZE </a></li>
              <li><a href="/about"> ABOUT US</a></li>
              <li><a href="">SUPPORT US </a></li>
              <li><a href=""> CONTACT US </a></li>
              <li><a href=""> APPLY </a></li>
            </ul>
          </nav>
        </div>
      </header>