  <header class="nav">
  <div class="wrapper">
        <div class="inner-nav-wrap">
          <div class="logo">
            <a href="{{ '/' | url }}">
              <img src="/assets/imgs/logo.svg" alt="Kuenyehia Trust for Contemporary Art" />
            </a>
          </div>
          <nav>
            <ul class="links">
              <li><a href="/about" {% if page.url == '/about/'%} class="active__link"{% endif %}>  ABOUT US</a></li>
              <li><a href="/prize" {% if page.url == '/prize/'%} class="active__link"{% endif %}> PRIZE </a></li>
              <li><a href="/support" {% if page.url == '/support/'%} class="active__link"{% endif %}>SUPPORT US </a></li>
              <li><a href="/contact" {% if page.url == '/contact/'%} class="active__link"{% endif %}> CONTACT US </a></li>
              <li><a href="https://drive.google.com/file/d/17JxpQmH31KRAqjX0n9sGxiTyfYDSeb1d/view?usp=sharing" target="_blank" {% if page.url == '/contact/'%} class="active__link"{% endif %}> CATALOG </a></li>
              <li><a href="https://airtable.com/shrMiREoXssvTTi5B" target="_blank" class= "apply-btn"> APPLY </a></li>
            </ul>
          </nav>
        </div>
         </div>
      </header>
     