<div class="marq__wrapper">
  <div class="marq">
    <section class="news__message">
      <p>
        stay home stay safe stay home stay safe stay home stay safe stay home stay safe stay home stay safe 
        stay home stay safe stay home stay safe stay home stay safe stay home stay safe stay home stay safe 
        stay home stay safe stay home stay safe stay home stay safe stay home stay safe stay home stay safe 
        stay home stay safe stay home stay safe stay home stay safe stay home stay safe stay home stay safe
      </p>
    </section>
    <section class="news__message">
      <p>
        stay home stay safe stay home stay safe stay home stay safe stay home stay safe stay home stay safe 
        stay home stay safe stay home stay safe stay home stay safe stay home stay safe stay home stay safe 
        stay home stay safe stay home stay safe stay home stay safe stay home stay safe stay home stay safe 
        stay home stay safe stay home stay safe stay home stay safe stay home stay safe stay home stay safe
      </p>
    </section>
  </div>
</div>
