<div class="marq__wrapper">
  <div class="marq">
    <section class="news__message">
      <p>
        <a href="https://blacklivesmatter.com/">
          Black lives matter Black lives matter Black lives matter Black lives
          matter Black lives matter Black lives matter Black lives matter Black
          lives matter Black lives matter Black lives matter Black lives matter
          Black lives matter Black lives matter Black lives matter Black lives
          matter Black lives matter Black lives matter Black lives matter Black
          lives matter Black lives matter Black lives matter Black lives matter
          Black lives matter Black lives matter
        </a>
      </p>
    </section>
    <section class="news__message">
      <p>
        <a href="https://blacklivesmatter.com/">
          Black lives matter Black lives matter Black lives matter Black lives
          matter Black lives matter Black lives matter Black lives matter Black
          lives matter Black lives matter Black lives matter Black lives matter
          Black lives matter Black lives matter Black lives matter Black lives
          matter Black lives matter Black lives matter Black lives matter Black
          lives matter Black lives matter Black lives matter Black lives matter
          Black lives matter Black lives matter
        </a>
      </p>
    </section>
  </div>
</div>
