
            {% for post in postslist %}
                <div class="banner-element">
                <div class="heading">
                  <img src="./assets/icon.svg" alt="" />
                  <h3>{{post.data.pageTitle}}</h3>
                </div>
                <p> {{post.data.description}} <br><span> <a href="{{ post.url }}">Read more</a> </span></p>
              </div>
            {% endfor %}