.aboutus {
  color: white;
  background: $kr-color;
  padding: 1rem 0;
  .aboutus__inner {
    .heading {
      display: flex;
      align-items: center;
      .icon__white {
        img {
          width: 40px;
        }
      }
      h3 {
        margin-left: 0.5rem;
        font-size: 2.5rem;
      }
    }
    p {
      margin: 0;
      font-size: 1.6rem;
      font-weight: lighter;
    }
  }
}
