.aboutpanel {
  color: white;
  background: $kr-color;
  padding: 1rem 0;
  .aboutus__inner {
    .heading {
      #about-us {
        display: flex;
        align-items: center;
        color: white;
        .icon__white {
          img {
            width: 30px;
          }
        }
        h3 {
          margin-left: 0.5rem;
          font-size: 2rem;
        }
      }
    }
    #display__content2,
    #display__content {
      display: none;
      p {
        margin: 0;
        font-size: 1.3rem;
        font-weight: lighter;
      }
    }
    #display__content2,
    #display__content:target {
      display: block;
    }
  }
}

.orange {
  background: $ko-color;
}
