.aboutpanel {
  color: $kw-color;
  background: $kr-color;
  padding: 1rem 3rem;
  .aboutus__inner {
    margin-bottom: 3.8rem;
    .heading {
      .panel__switch-alwayson,
      .panel__switch {
        display: flex;
        align-items: center;
        color: $kw-color;
        .icon__white {
          &:hover {
            transform: rotate(90deg);
            transition: 400ms ease-in-out;
          }
          img {
            width: 30px;
            @media screen and (min-width: $break-small) {
              width: 15px;
            }
          }
        }
        h3 {
          margin-left: 0.5rem;
          font-size: 2rem;
          @media screen and (min-width: $break-small) {
            font-size: 1.2rem;
          }
        }
      }
    }
    .display__content-alwayson,
    .display__content {
      .list__panel {
        li {
          list-style: none;
          font-weight: lighter;
          font-size: 1.3rem;
          line-height: 1.7rem;
          padding-left: 4rem;
          @media screen and (min-width: $break-small) {
            font-size: 1rem;
            padding-left: 0rem;
            line-height: 1.3rem;
          }
        }
      }
      .advisory-board {
        ul {
          margin: 0;
          padding: 0;
          position: relative;
          li {
            list-style: none;
            p {
              padding-top: 0.5rem;

              span {
                font-size: 1.1rem;
                color: lighten($color: $kb-color, $amount: 10);
                @media screen and (min-width: $break-small) {
                  font-size: 0.9rem;
                  padding-left: 0rem;
                  line-height: 1.3rem;
                }
              }
            }
          }
        }
      }
      p {
        margin: 0;
        font-size: 1.3rem;
        font-weight: lighter;
        line-height: 1.7rem;
        padding-left: 2.2rem;
        @media screen and (min-width: $break-small) {
          font-size: 1rem;
          padding-left: 0rem;
          line-height: 1.3rem;
        }
      }
    }
  }
}

.orange {
  background: $ko-color;
}

.close__panel {
  display: none;
}
