.info-banner {
  margin: 7rem 0 3rem 0;
  border-top: 1.5px solid $kr-color;
  padding-top: 3rem;
  .banner-wrapper {
    .banner-container {
      display: flex;
      justify-content: space-between;
      margin: 0 0.9rem;
      .banner-element {
        width: 22vw;
        .heading {
          display: flex;
          align-items: center;
          margin: 0;
          h3 {
            font-size: 1.3rem;
            letter-spacing: $kern;
            margin: 0 0 0 0.8rem;
          }
          img {
            margin: 0;
            width: 1.2rem;
          }
        }
        p {
          font-weight: lighter;
          line-height: 1rem;
          font-size: 0.8rem;
          span {
            a {
              color: $kr-color;
              display: inline-block;
              &:hover {
                font-weight: bold;
                transform: rotate(-5deg);
                transition: all 300ms $kease;
              }
            }
          }
        }
      }
    }
  }
}
