.carousel-setup {
  display: flex;
  align-items: center;
  margin: 4rem 0;
  .carousel-container {
    max-width: 70em;
    height: 100%;
    overflow: hidden;
    margin: 2rem auto 0 auto;
    @media screen and (max-width: $break-medium) {
      width: 65vw;
    }
    .carousel {
      display: flex;
      width: inherit;
      height: inherit;
      .slide {
        max-width: 70em;
        .slide__img {
          position: relative;
          @media screen and (max-width: $break-medium) {
            width: 65vw;
          }
          &::before {
            content: "";
            position: absolute;
            display: inline-block;
            width: 100%;
            height: 99.6%;
            background: $ko-color;
            opacity: 70%;
          }
          img {
            mix-blend-mode: multiply;
            display: block;
            max-width: 64.42em;
            min-height: 20em;
            // object-fit: fill;s
            @media screen and (max-width: $break-medium) {
              width: 65vw;
            }
          }
        }
        .description {
          font-weight: lighter;
          line-height: 1rem;
          font-size: 0.9rem;
          padding: 0 1rem;
          color: lighten($color: $kb-color, $amount: 40);
        }
      }
    }
  }
  .navi {
    width: 50px;
    height: 50px;
    margin: auto;

    .button {
      width: 2rem;
      display: block;
      margin: auto;
      path {
        fill: none;
        stroke-width: 1.5px;
        stroke: $kr-color;

        &:hover {
          stroke: $ko-color;
        }
      }
    }
  }
  .prev {
    @media screen and (min-width: $break-medium) {
      padding-right: 2rem;
    }
  }
  .next {
    @media screen and (min-width: $break-medium) {
      padding-left: 2rem;
    }
  }
}
