.carousel-setup {
  display: flex;
  align-items: center;
  margin: 4rem 0;
  @media screen and (max-width: $break-small) {
    margin: 0 auto;
  }
  .carousel-container {
    max-width: 64em;
    height: 100%;
    overflow: hidden;
    margin: 2rem auto 0 auto;
    @media screen and (max-width: $break-medium) {
      width: 65vw;
    }
    @media screen and (max-width: $break-small) {
      width: 80vw;
    }
    .carousel {
      display: flex;
      width: inherit;
      height: inherit;
      .slide {
        border: none;
        max-width: 70em;
        #carousel-img1 {
          background-image: url("https://res.cloudinary.com/arlkobe23/image/upload/v1589239671/Kuenyehia%20Trust/carousel/3_adnul1.jpg");
        }
        #carousel-img2 {
          background-image: url("https://res.cloudinary.com/arlkobe23/image/upload/v1589239441/Kuenyehia%20Trust/carousel/Felix6_wjhf1x.jpg");
        }
        #carousel-img3 {
          background-image: url("https://res.cloudinary.com/arlkobe23/image/upload/v1589239445/Kuenyehia%20Trust/carousel/Felix60_ctvkf3.jpg");
        }
        .slide__img {
          position: relative;
          width: 64.42em;
          height: 40em;
          background-repeat: no-repeat;
          background-size: cover;
          @media screen and (max-width: $break-medium) {
            width: 65vw;
          }
          @media screen and (max-width: $break-small) {
            width: 80vw;
          }
        }
        .description {
          font-weight: lighter;
          line-height: 1rem;
          font-size: 0.9rem;
          padding: 0 1rem;
          color: lighten($color: $kb-color, $amount: 40);
        }
      }
    }
  }
  .navi {
    width: auto;
    height: auto;
    cursor: pointer;
    .button {
      width: 2rem;
      display: block;
      margin: auto;

      path {
        fill: none;
        stroke-width: 1.5px;
        stroke: $kr-color;

        &:hover {
          stroke: $ko-color;
        }
      }
    }
  }
  .prev {
    @media screen and (min-width: $break-medium) {
      padding-right: 2rem;
    }
    @media screen and (max-width: $break-small) {
      padding-right: 0rem;
    }
  }
  .next {
    @media screen and (min-width: $break-medium) {
      padding-left: 2rem;
    }
    @media screen and (max-width: $break-small) {
      padding-right: 0rem;
    }
  }
}
