.carousel-setup {
  display: flex;
  align-items: center;
  margin: 4rem 0;
  .carousel-container {
    width: 65vw;
    overflow: hidden;
    margin: 2rem auto 0 auto;
    .carousel {
      display: flex;
      width: 100%;
      height: 100%;
      .slide {
        .slide__img {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            display: inline-block;
            width: 100%;
            height: 100%;
            background: $ko-color;
            opacity: 70%;
          }
          img {
            mix-blend-mode: multiply;
            width: 65vw;
          }
        }
        .description {
          font-weight: lighter;
          line-height: 0.85rem;
          font-size: 0.7rem;
          padding: 0 1rem;
          color: lighten($color: $kb-color, $amount: 40);
        }
      }
    }
  }
  button {
    border: none;
    padding: 0.5rem;
    text-decoration: none;
    background: none;
    font-size: 1.5rem;
    font-weight: lighter;
    color: $ko-color;

    &:hover {
      color: $kr-color;
    }
    &:focus {
      outline: 0;
    }
    &:active {
      outline: none;
      border: none;
    }
  }
}
