.contact-us__wrapper {
  width: 40rem;
  margin: 0 auto;
  padding-top: 2rem;
  @media screen and (max-width: $break-small) {
    width: 100%;
  }
  .img__container {
    width: 33rem;
    height: 20rem;
    background: $ko-color;
    margin: 0 auto;
    .img-wrap {
      background-image: url("https://res.cloudinary.com/arlkobe23/image/upload/c_scale,h_1848,q_50/v1589243383/Kuenyehia%20Trust/carousel/catharsis_I_fkbn9z.jpg");
      background-repeat: no-repeat;
      width: 33rem;
      height: 20rem;
      background-size: cover;
      @media screen and (max-width: $break-small) {
        width: 100%;
      }
    }
    @media screen and (max-width: $break-small) {
      width: 100%;
    }
  }
  .contact-us__panel {
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid $kr-color;
    padding: 1.5rem 0;
    @media screen and (max-width: $break-small) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .heading {
      h1 {
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: bold;
      }
    }
    .content {
      width: 20rem;

      p {
        font-size: 1.3rem;
        line-height: 150%;
        @media screen and (max-width: $break-small) {
          font-size: 1rem;
        }
      }
    }
  }
}

.find__us {
  #map {
    height: 25rem;
  }
}
