footer {
  color: $kw-color;
  width: 100%;
  background: $ko-color;
  padding-bottom: 1rem;
  font-size: 0.8rem;
  letter-spacing: $kernS;
  .footer-container {
    width: 70vw;
    margin: 0 auto;
    padding-top: 1.5rem;

    .footer-section-one {
      border-bottom: 1px solid $kw-color;
      .social__links {
        width: 20rem;
        margin: 0 auto;
        ul {
          display: flex;
          justify-content: space-evenly;
          padding: 0;
          li {
            list-style: none;
            a {
              color: $kw-color;
              display: inline-block;
              &:hover {
                color: $kr-color;
                font-weight: 700;
                transform: rotate(5deg);
                transition: all 300ms $kease;
              }
            }
          }
        }
      }
    }
    .footer-wrapper {
      display: flex;
      justify-content: space-evenly;
      line-height: 0.9rem;
      @media screen and (max-width: $break-small) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .map {
        nav {
          ul {
            @media screen and (max-width: $break-small) {
              padding: 0em;
            }
            li {
              @media screen and (max-width: $break-small) {
                display: inline-block;
                box-sizing: border-box;
                padding-left: 0.4rem;
              }
              a {
                color: $kw-color;
                display: inline-block;
                @media screen and (max-width: $break-small) {
                  padding: 0;
                }
                &:hover,
                &:focus {
                  color: $kr-color;
                  font-weight: 700;
                  transform: rotate(-5deg);
                  transition: all 300ms $kease;
                }
              }
              list-style: none;
              margin-top: 0.5rem;
            }
          }
        }
      }
      .location__info {
        width: 15rem;
        @media screen and (max-width: $break-small) {
          width: 70%;
        }
        a {
          color: $kw-color;
          &:hover {
            color: $kr-color;
            font-weight: 700;
          }
        }
      }
    }
  }
}
