.nav {
  border-bottom: 3px solid $kr-color;
}
.inner-nav-wrap {
  margin-top: 2rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: $break-small) {
    justify-content: space-evenly;
  }
  @media screen and (max-width: $break-medium) {
    justify-content: space-evenly;
  }
  .logo {
    img {
      width: 150px;
      // background-image: url("./assets/favicon.png");
      // background-repeat: no-repeat;
    }
  }
  nav {
    ul {
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: $break-small) {
        flex-direction: column;
      }
      li {
        margin-left: 0.8rem;
        font-size: 1rem;
        list-style: none;

        &:last-child {
          margin-right: 0.5rem;
        }

        @media screen and (max-width: $break-small) {
          padding-top: 0.2rem;
        }
        a {
          display: inline-block;
          letter-spacing: $kernS;
          @media screen and (max-width: $break-small) {
            font-size: 1rem;
          }
          &:hover {
            color: $ko-color;
            font-weight: 700;
            transform: rotate(-5deg);
            transition: all 600ms 300ms $kease;
          }
        }
      }
    }
    .apply-btn {
      font-weight: bold;
      position: relative;
      &::after {
        content: "";
        background: rgb(153, 35, 105);
        background: linear-gradient(
          90deg,
          rgba(153, 35, 105, 1) 0%,
          rgba(246, 147, 49, 1) 100%
        );
        position: absolute;
        width: 100%;
        height: 0.2rem;
        left: 0;
        bottom: 0;
      }
    }
  }
}
