.nav {
  border-bottom: 1px solid $kr-color;
}
.inner-nav-wrap {
  margin-top: 2rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    img {
      width: 150px;
    }
  }
  nav {
    ul {
      display: flex;
      justify-content: space-between;
      li {
        margin-left: 0.8rem;
        font-size: 0.8rem;
        list-style: none;

        &:last-child {
          margin-right: 0.5rem;
        }
        a {
          display: inline-block;
          letter-spacing: $kernS;
          &:hover {
            color: $ko-color;
            font-weight: 700;
            transform: rotate(-5deg);
            transition: all 600ms 300ms $kease;
          }
        }
      }
    }
  }
}
