.home__about {
  padding-bottom: 64px;
  .wrapper {
    .aboutus__inner {
      .display__content {
        font-size: 1.3rem;
        line-height: 120%;
        ul {
          list-style: none;
          padding: 0;
          text-indent: -0.8rem;
        }
      }
    }
  }
}
