.marq__wrapper {
  background-color: $kb-color;
  a {
    color: $kw-color;
    text-transform: uppercase;
  }
  .marq {
    display: flex;
    white-space: nowrap;
    min-width: 100%;
    overflow-x: hidden;

    .news__message {
      padding-left: 0.6em;
      animation: slide-left 60s linear infinite;
      letter-spacing: 0.2rem;
      @keyframes slide-left {
        from {
          -webkit-transform: translateX(0);
          transform: translateX(0);
        }
        to {
          -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
        }
      }
    }
  }
}
