.blog {
  margin-top: 3rem;
  padding: 0 2rem;
  h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    color: lighten($color: $kb-color, $amount: 10);
    position: relative;

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      margin-top: 1.6rem;
      left: 0;
      width: 50%;
      height: 0.18rem;
      background: $ko-color;
      z-index: -2;
    }
  }
  p {
    font-size: 1.1rem;
    line-height: 1.7rem;
    font-weight: lighter;
  }
}

.blog__link {
  a {
    font-size: 1.2rem;
    &:hover {
      color: $kr-color;
    }
  }
  margin-bottom: 2rem;
}
