.blog {
  margin-top: 3rem;
  padding: 0 2rem;
  h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: 0.05rem;
    color: lighten($color: $kb-color, $amount: 10);
    position: relative;

    &::after {
      content: "";
      background: rgb(153, 35, 105);
      background: linear-gradient(
        90deg,
        rgba(153, 35, 105, 1) 0%,
        rgba(246, 147, 49, 1) 100%
      );
      position: absolute;
      width: 100%;
      height: 0.2rem;
      left: 0;
      bottom: 0;
      -webkit-animation: AnimationName 30s ease infinite;
      -moz-animation: AnimationName 30s ease infinite;
      animation: AnimationName 30s ease infinite;
    }
    @-webkit-keyframes AnimationName {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    @-moz-keyframes AnimationName {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    @keyframes AnimationName {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }

  h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    margin-top: 3.5rem;
    padding: 0;
  }
  p,
  ul,
  ol,
  li {
    font-size: 1.1rem;
    line-height: 1.7rem;
    font-weight: lighter;
    @media screen and (max-width: $break-small) {
      font-size: 1rem;
      line-height: 1.3rem;
    }
  }

  a {
    color: $kr-color;
    font-weight: 700;
  }
}

.blog__link {
  a {
    font-size: 1.2rem;
    color: $kr-color;
    @media screen and (max-width: $break-small) {
      padding-left: 2rem;
    }
    &:hover {
      color: $kr-color;
    }
  }
  margin-bottom: 2rem;
}
