.prizepanel {
  color: $kb-color;
  padding: 1rem 3rem;
  border-bottom: 1px solid $ko-color;
  @media screen and (max-width: $break-small) {
    padding: 1rem 1rem;
    font-size: 1rem;
  }
  .prizepanel__inner {
    margin-bottom: 3.8rem;
    @media screen and (max-width: $break-small) {
      margin-bottom: 1.5rem;
    }
    .heading {
      .panel__switch-alwayson,
      .panel__switch {
        display: flex;
        align-items: center;
        color: $kb-color;
        .icon_wine {
          img {
            width: 30px;
          }
        }
        h3 {
          margin-left: 0.5rem;
          font-size: 2rem;
          font-weight: bold;
          @media screen and (max-width: $break-small) {
            font-size: 1.2rem;
            padding-left: 0rem;
            line-height: 1.3rem;
          }
        }
      }
    }
    .display__content-alwayson,
    .display__content {
      .artists {
        position: relative;
        @media screen and (max-width: $break-medium) {
          display: grid;
          grid-template-rows: 0.5fr 1fr;
        }
        .artist__list {
          @media screen and (max-width: $break-medium) {
            grid-row: 2;
          }
          ul {
            padding: 0;
            li {
              list-style: none;
              font-size: 1.3rem;
              font-weight: lighter;
              padding-top: 0.5rem;
              span {
                color: $kr-color;
              }
            }
          }
        }
        .prize__container {
          position: absolute;
          overflow: hidden;
          width: 35rem;
          height: 24rem;
          top: 0;
          bottom: 0;
          right: -15rem;
          @media screen and (max-width: $break-medium) {
            position: relative;
            right: 0;
            width: 90vw;
            overflow: hidden;
          }
          .move__sec {
            position: absolute;
            width: 50%;
            height: 100%;
            background: $ko-color;
            opacity: 0.2;
            z-index: 1;
            &.left {
              cursor: w-resize;
              left: 0;
            }
            &.right {
              cursor: e-resize;
              right: 0;
            }
          }
          .prize-slide {
            display: flex;
            width: 35rem;
            height: 24rem;
            @media screen and (max-width: $break-medium) {
              width: auto;
            }
            .slide {
              background: $kr-color;
              min-width: 35rem;
              height: 24rem;
              background-repeat: no-repeat;
              background-size: cover;
              @media screen and (max-width: $break-medium) {
                width: auto;
              }
            }
          }
        }
      }
      p,
      a {
        margin: 0;
        font-size: 1.3rem;
        line-height: 150%;
        padding-left: 2.2rem;
        @media screen and (max-width: $break-small) {
          font-size: 1rem;
          padding-left: 0rem;
          line-height: 1.3rem;
        }
      }
      .catalogue {
        cursor: pointer;
        a {
          color: $ko-color;
          svg {
            width: 2rem;
            height: 2rem;
            fill: $ko-color;
          }
        }
      }
    }
  }
}

.orange {
  background: $ko-color;
}
