.prizepanel {
  color: $kb-color;
  padding: 1rem 3rem;
  border-bottom: 1px solid $ko-color;
  .prizepanel__inner {
    margin-bottom: 3.8rem;
    .heading {
      .panel__switch-alwayson,
      .panel__switch {
        display: flex;
        align-items: center;
        color: $kb-color;
        .icon__white {
          &:hover {
            transform: rotate(90deg);
            transition: 400ms ease-in-out;
          }
          img {
            width: 30px;
          }
        }
        h3 {
          margin-left: 0.5rem;
          font-size: 2rem;
        }
      }
    }
    .display__content-alwayson,
    .display__content {
      p {
        margin: 0;
        font-size: 1.3rem;
        font-weight: lighter;
        line-height: 1.7rem;
        padding-left: 2.2rem;
      }
    }
  }
}

.orange {
  background: $ko-color;
}

.close__panel {
  display: none;
}
