.prizepanel {
  color: $kb-color;
  padding: 1rem 3rem;
  border-bottom: 1px solid $ko-color;
  .prizepanel__inner {
    margin-bottom: 3.8rem;
    @media screen and (max-width: $break-small) {
      margin-bottom: 1.5rem;
    }
    .heading {
      .panel__switch-alwayson,
      .panel__switch {
        display: flex;
        align-items: center;
        color: $kb-color;
        .icon_wine {
          &:hover {
            transform: rotate(90deg);
            transition: 400ms ease-in-out;
          }
          img {
            width: 30px;
          }
        }
        h3 {
          margin-left: 0.5rem;
          font-size: 2rem;
          font-weight: bold;
          @media screen and (max-width: $break-small) {
            font-size: 1.2rem;
            padding-left: 0rem;
            line-height: 1.3rem;
          }
        }
      }
    }
    .display__content-alwayson,
    .display__content {
      .artists {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: $break-small) {
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        .artist__list {
          ul {
            @media screen and (max-width: $break-small) {
              padding: 0 2rem 2rem 0;
            }
            li {
              list-style: none;
              font-size: 1.3rem;
              font-weight: lighter;
              padding-top: 0.5rem;
              span {
                color: $kr-color;
              }
            }
          }
        }
        .prize-slide {
          width: 18rem;
          height: 25rem;
          background: $kr-color;
          overflow: hidden;
        }
      }
      p {
        margin: 0;
        font-size: 1.3rem;

        line-height: 150%;
        padding-left: 2.2rem;
        @media screen and (max-width: $break-small) {
          font-size: 1rem;
          padding-left: 0rem;
          line-height: 1.3rem;
        }
      }
    }
  }
}

.orange {
  background: $ko-color;
}

.close__panel {
  display: none;
}
