.support__content {
  .intro__text {
    p {
      font-size: 1.3rem;
      line-height: 150%;
      @media screen and (max-width: $break-small) {
        font-size: 1rem;
        padding: 0 1rem;
      }
    }
    a {
      cursor: pointer;
      color: $kw-color;
      display: inline-block;
      &:hover {
        transform: rotate(-5deg);
        transition: all 300ms $kease;
      }
    }
    .donate__btn {
      display: block;
      text-align: center;
      width: 6rem;
      margin: 0.5rem auto;
      background: $kr-color;
      padding: 0.5rem;
      border-radius: 0.5rem;
    }
  }
  .carousel-setup {
    .carousel-container {
      #support-img1 {
        background-image: url("https://res.cloudinary.com/arlkobe23/image/upload/v1589242397/Kuenyehia%20Trust/carousel/6_yqfmuv.jpg");
      }
      #support-img2 {
        background-image: url("https://res.cloudinary.com/arlkobe23/image/upload/v1589242391/Kuenyehia%20Trust/carousel/5_s0dgww.jpg");
      }
      #support-img3 {
        background-image: url("https://res.cloudinary.com/arlkobe23/image/upload/v1589242559/Kuenyehia%20Trust/carousel/Felix57_s0yoop.jpg");
      }
    }
  }
}
