<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% set css %} {%include "assets/main.css" %} {% endset %}
    <style type="text/css" nonce>
      {% block maincss %} {{ css | safe }} {% endblock %}
    </style>
    <style>
    @font-face {
  font-family: spaceGrotesk;
  src: url(/assets/fonts/SpaceGrotesk-Regular.woff);
  font-weight: normal; }

@font-face {
  font-family: spaceGrotesk;
  src: url(/assets/fonts/SpaceGrotesk-SemiBold.woff2);
  font-weight: bold; }
    </style>
    <title>{{ pageTitle or siteData.name }}</title>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.min.js"></script>
    <link
      rel="shortcut icon"
      href="/assets/imgs/favicon.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <script
      type="text/javascript"
      src="//maps.googleapis.com/maps/api/js?key=AIzaSyDKdwsFsIw1STe6Xf2zUFH0Sk8n6YQza40"
    ></script>
  </head>
  <body>
    {% include "header.njk" %}
    {{ content | safe }}
    {% include "footer.njk" %}
    <script src="/assets/index.js"></script>   
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCT9ZQsimGMKGo1qZ8lYCz0VXxd-50gDAw",
    authDomain: "public-speaking-b8e6a.firebaseapp.com",
    databaseURL: "https://public-speaking-b8e6a.firebaseio.com",
    projectId: "public-speaking-b8e6a",
    storageBucket: "public-speaking-b8e6a.appspot.com",
    messagingSenderId: "430183712293",
    appId: "1:430183712293:web:9629e703ab57fa5d85a1cc",
    measurementId: "G-M5V1MWQ76S"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
  </body>
</html>
