---
layout: layouts/default.njk
pageTitle: Blog
---

<div class ="wrapper" >
<h1>{{ title }}</h1>
<div class = "blog">
{{ content | safe }}
</div>
<p class="blog__link"><a href="{{ '/' | url }}">← Home</a></p>
</div>