---
layout: layouts/default.njk
pageTitle: About Us
---

{%include "about-nav.njk"%}

<div class="aboutpanel" id="panel1">
  <div class="wrapper">
    <div class="aboutus__inner">
      <div class="heading">
        <a href="" class="panel__switch-alwayson">
          <div class="icon__white">
            <img src="/assets/icon__white.svg" alt="" />
          </div>
          <h3>WHO WE ARE</h3>
        </a>
      </div>
      <div class="display__content-alwayson">
        <p>
          A not-for profit organisation established by Elikem Nutifafa Kuenyehia
          in 2013 to support emerging and mid-career African artists, advance
          contemporary African Art, especially art of Ghanaian origin locally
          and internationally, promote a vibrant market for art locally and
          encourage art literacy.
        </p>
        <br />
        <p>
          the Western Region of Ghana and former Chair of the Ghana Museums and
          Monuments Board is the patron of the Trust which is governed by an
          advisory board and a nine member board of trustees.
        </p>

        <p>
          The objectives of the Kuenyehia Trust for Contemporary Art are
          realised through:
        </p>
        <ul class="list__panel">
          <li>-- The Kuenyehia Prize for Contemporary Ghanaian Art</li>
          <li>-- The Creative Accelerator Program</li>
          <li>-- The Thought Leadership Seminars: Telling Tall Stories</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="aboutpanel orange" id="panel2">
  <div class="wrapper">
    <div class="aboutus__inner">
      <div class="heading">
        <a href="" class="panel__switch">
          <div class="icon__white">
            <img src="/assets/icon__white.svg" alt="" />
          </div>
          <h3>ADVISORY BOARD</h3>
        </a>
      </div>
      <div class="display__content">
        <div class="advisory-board">
          <ul>
            <li>
              <p>Samallie Kiyingi <span> Art Promoter (Chair) </span></p>
            </li>
            <li>
              <p>
                Professor Juan Pablo Wert
                <span>Professor of Art History and Contemporary Art</span>
              </p>
            </li>
            <li>
              <p>
                Alessio Antoniolli
                <span>Director of Gasworks and the Triangle Arts Trust</span>
              </p>
            </li>
            <li>
              <p>
                Elvira Dyangani Ose
                <span
                  >Curator and Lecturer in Visual Culture (Global Arts)</span
                >
              </p>
            </li>
            <li>
              <p>
                Frances Ademola
                <span> Art promoter/Collector/Gallery Owner </span>
              </p>
            </li>
            <li>
              <p>Joel Nettey <span> Advertising Consultant </span></p>
            </li>
            <li>
              <p>
                Gina Din-Kariuki <span> PR and Communications Consultant </span>
              </p>
            </li>
            <li>
              <p>
                Gbenga Oyebode MFR
                <span> Corporate Lawyer and Entrepreneur </span>
              </p>
            </li>
            <li>
              <p>Fred Mawuli Deegbe Jr. <span> Fashion Entrepreneur </span></p>
            </li>
            <li>
              <p>
                Nana Kobina Nketsia V
                <span>
                  Omanhen (Paramount Chief) of the Essikado Traditional Area of
                  the Western Region of Ghana and former Chair of the Ghana
                  Museums and Monuments Board.</span
                >
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="aboutpanel" id="panel3">
  <div class="wrapper">
    <div class="aboutus__inner">
      <div class="heading">
        <a href="" class="panel__switch">
          <div class="icon__white">
            <img src="/assets/icon__white.svg" alt="" />
          </div>
          <h3>TRUSTEES</h3>
        </a>
      </div>
      <div class="display__content">
        <div class="trustees">
          <ul>
            <li>
              <p>
                Eli Kumekpor
                <span>
                  CFO, US Oncology - Oncology Business Unit, AstraZeneca,
                  (co-chair)
                </span>
              </p>
            </li>
            <li>
              <p>
                Thelma Tawiah
                <span>Chief Operating Office, ENSafrica Ghana, (co-chair)</span>
              </p>
            </li>
            <li>
              <p>
                Essé Dabla-Attikpo
                <span>(Managing Trustee)</span>
              </p>
            </li>
            <li>
              <p>
                Afia Adutwumwaa Owusu-Afriyie
                <span
                  >Chief of Staff, the Family Office of Elikem Nutifafa
                  Kuenyehia</span
                >
              </p>
            </li>
            <li>
              <p>
                Ruka Sanusi
                <span>
                  Executive Director, Ghana Climate Innovation Centre
                </span>
              </p>
            </li>
            <li>
              <p>
                Agnes Allottey
                <span> Strategy and Innovation Expert, Stratosphere </span>
              </p>
            </li>
            <li>
              <p>
                Kobina Ankomah-Graham <span> Lecturer, Writer and DJ </span>
              </p>
            </li>
            <li>
              <p>
                Paul Payne
                <span> Lead Consultant, Ceroma Solutions </span>
              </p>
            </li>
            <li>
              <p>
                Larry Amponsah
                <span> Artist, Abraaj RCA Innovation Scholar </span>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="aboutpanel white" id="panel4">
  <div class="wrapper">
    <div class="aboutus__inner">
      <div class="heading">
        <a href="" class="panel__switch">
          <div class="icon__white">
            <img src="/assets/icon__white.svg" alt="" />
          </div>
          <h3 style="color: #191919;">INITIATIVES</h3>
        </a>
      </div>
      <div class="display__content">
        <div class="initiatives">
          <div class="kuenyehia__prize">
            <p>
              The Kuenyehia Prize, the flagship of the Trust identifies, rewards
              and helps develop Ghana’s most outstanding artists between the
              ages of 25 and 40. Winners and runners-up benefit from prize money
              and materials totalling thirty-five thousand cedis (GHS 35,000)
              each season. Judges over the past four seasons include: Professor
              El Anatsui, the first African to be awarded the Golden Lion for
              lifetime achievement – the highest honour bestowed on an artist –
              at the 2015 Venice Biennale; Richard Scott, a South African artist
              of global repute; Gbenga Oyebode MFR, one of Nigeria’s most
              influential art collectors; and Professor Ablade Glover, one of
              the most prolific and collected Ghanaian artist. The prominence
              that the Prize gives to its artists provides them with an
              accelerated boost in their careers, direct financial gain and
              immense opportunity both locally and internationally.
            </p>
          </div>
          <div class="telling__tall">
            <p>
              Thought leadership seminars that contribute to efforts to refocus
              intentional attention on the arts in policy and practice in Ghana.
              Past discussions have centered on;
            </p>
            <ul>
              <li>
                ‘Role of the Arts in the Making of Culture and Nation Building’
              </li>
              <li>
                ‘The Responsibility of the African Artist in Challenging African
                Stereotypes’
              </li>
              <li>
                ‘E Be Art We Go Chop! The Role of Arts and Cultural
                Entrepreneurs in Developing Ghana’
              </li>
            </ul>
            <p>
              Panelists from different facets of the arts have included ace
              musician and cultural icon, Okyeame Kwame; veteran actress,
              cultural activist and former deputy minister of Tourism, Culture
              and Creative Arts, Dzifa Gomashie; Selassi Atadika; chef and
              founder of MIDUNU.
            </p>
          </div>
          <div class="creative-ace">
            <p>
              Facilitates the growth of short and long listed Kuenyehia Prize
              artists through 5 development pillars:
            </p>
            <ul>
              <li>- Personal Development & Branding,</li>
              <li>- Communication,</li>
              <li>- Art as a Business,</li>
              <li>- Money and Investments,</li>
              <li>- On-going Learning</li>
            </ul>
            <p>
              Resource people over the years include over 20 business leaders,
              established artists, art educators, lawyers such as Kofi Setordji,
              Professor Ablade Glover, Ruka Sanusi, Enam Gbewonyo, Kelvin
              Abdallah, Elikem Nutifafa Kuenyehia, George Ampratwum and Edwin
              Baffour
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
