---
layout: layouts/default.njk
pageTitle: Contact Us
---

<div class="wrapper">
  <div class="contact-us__wrapper">
    <div class="img__container">
      <div class="img-wrap"></div>
    </div>

    <div class="contact-us__panel">
      <div class="heading">
        <h1>Visit Us</h1>
      </div>
      <div class="content">
        <p>
          The gallery is open to visitors during opening hours. You do not need
          to book an appointment to visit, but please email us in advance if you
          wish to have a guided tour.
        </p>
      </div>
    </div>

    <div class="contact-us__panel">
      <div class="heading">
        <h1>Find us</h1>
      </div>
      <div class="content find__us">
        {# <div id="map"></div> #}
        <p>
          <strong> Physical Address: </strong> <br />
          U.S.A. 🇺🇸 <br>
          1245 S Michigan Ave STE 1000<br>
          Chicago, IL 60605 <br>
          <br>
          Ghana 🇬🇭 <br>
          The Akpohornu <br>
          20 Tedzi Street, South Tesano, Accra
        </p>
        <p>
          <strong> Postal Address: </strong> <br />
          P. O. Box AP 147, Akropong, Eastern Region <br />
          <strong> T: </strong>
          <a href="tel:+233302769302">(+1) 630-346-4100 </a> |
          <a href="tel:+233242041645">(0)24 204 1645</a> <br />
          <strong> E: </strong>
          <a href="mailto:info@kuenyehiaprize.org">info@kuenyehiaprize.org</a>
        </p>
      </div>
    </div>
  </div>
</div>
