---
layout: layouts/default.njk
pageTitle: Kuenyehia Trust for Contemporary Art
---

<!-- {%include "marquee.njk"%} -->
<div class="wrapper">
  <main>
    <div class="carousel-setup">
      <div class="navi prev" id="prev">
        <svg viewBox="0 0 20 20" id="prev" class="button">
          <path d="M20 0 L10 10 L20 20"></path>
        </svg>
      </div>
      <div class="carousel-container">
        <div class="carousel">
          <div class="slide">
            <div class="slide__img">
              <img
                src="./assets/carousel/3.jpg"
                alt=""
                class="responsive__img"
              />
            </div>
            <p class="description">
              1st Slide -Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Nam a aliquam modi, optio ipsa deleniti quae asperiores
              veritatis voluptatibus facilis consequuntur non soluta odio
              nostrum accusantium itaque obcaecati accusamus consectetur.
            </p>
          </div>
          <div class="slide">
            <div class="slide__img">
              <img
                src="./assets/carousel/2.jpg"
                alt=""
                class="responsive__img"
              />
            </div>
            <p class="description">
              2nd Slide -Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Nam a aliquam modi, optio ipsa deleniti quae asperiores
              veritatis voluptatibus facilis consequuntur non soluta odio
              nostrum accusantium itaque obcaecati accusamus consectetur.
            </p>
          </div>
          <div class="slide">
            <div class="slide__img">
              <img
                src="./assets/carousel/1.jpg"
                alt=""
                class="responsive__img"
              />
            </div>
            <p class="description">
              3rd Slide - Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Nam a aliquam modi, optio ipsa deleniti quae asperiores
              veritatis voluptatibus facilis consequuntur non soluta odio
              nostrum accusantium itaque obcaecati accusamus consectetur.
            </p>
          </div>
        </div>
      </div>

      <div class="navi next" id="next">
        <svg viewBox="0 0 20 20" id="next" class="button">
          <path d="M0 0 L10 10 L0 20"></path>
        </svg>
      </div>
    </div>
    <!-- <div class="info-banner">
      <div class="banner-wrapper">
        <div class="banner-container">
          {% set postslist = collections.posts | head(3) %} {% include
          "postList.njk" %}
        </div>
      </div>
    </div> -->
  </main>
</div>
