---
layout: layouts/default.njk
pageTitle: Kuenyehia Trust for Contemporary Art
---
<div class="wrapper">
 <main>
        <div class="carousel-setup">
          <div class="navi"><button id="prev"><</button></div>
          <div class="carousel-container">
            <div class="carousel">
              <div class="slide">
                <div class="slide__img">
                <img src="./assets/carousel/1.jpg" alt="" />
                </div>
                <p class="description">
                  1st Slide -Lorem ipsum dolor sit amet consectetur adipisicing
                  elit. Nam a aliquam modi, optio ipsa deleniti quae asperiores
                  veritatis voluptatibus facilis consequuntur non soluta odio
                  nostrum accusantium itaque obcaecati accusamus consectetur.
                </p>
              </div>
              <div class="slide">
              <div class="slide__img">
                <img src="./assets/carousel/2.jpg" alt="" />
                </div>
                <p class="description">
                  2nd Slide -Lorem ipsum dolor sit amet consectetur adipisicing
                  elit. Nam a aliquam modi, optio ipsa deleniti quae asperiores
                  veritatis voluptatibus facilis consequuntur non soluta odio
                  nostrum accusantium itaque obcaecati accusamus consectetur.
                </p>
              </div>
              <div class="slide">
               <div class="slide__img">
                <img src="./assets/carousel/3.jpg" alt="" />
                </div>
                <p class="description">
                  3rd Slide - Lorem ipsum dolor sit amet consectetur adipisicing
                  elit. Nam a aliquam modi, optio ipsa deleniti quae asperiores
                  veritatis voluptatibus facilis consequuntur non soluta odio
                  nostrum accusantium itaque obcaecati accusamus consectetur.
                </p>
              </div>
            </div>
          </div>

          <div class="navi">
            <button id="next">></button>
          </div>
        </div>

        
        
        <div class="info-banner">
          <div class="banner-wrapper">
            <div class="banner-container">

            {% set postslist = collections.posts | head(3) %}
            {% include "postList.njk" %}



            </div>
          </div>
        </div>
      </main>
      </div>