---
layout: layouts/default.njk
pageTitle: Kuenyehia Trust for Contemporary Art
---

<div class="wrapper">
  <main>
    <div class="carousel-setup">
      <div class="navi prev" id="prevbtn">
        <svg viewBox="0 0 20 20" id="prev" class="button">
          <path d="M20 0 L10 10 L20 20"></path>
        </svg>
      </div>
      <div class="carousel-container">
        <div class="carousel">
          <div class="slide">
            <div class="slide__img" id="carousel-img1"></div>
            <p class="description">
              <!--  -->
            </p>
          </div>
          <div class="slide">
            <div class="slide__img" id="carousel-img2"></div>
            <p class="description">
              <!--  -->
            </p>
          </div>
          <div class="slide">
            <div class="slide__img" id="carousel-img3"></div>
            <p class="description">
              <!--  -->
            </p>
          </div>
        </div>
      </div>

      <div class="navi next" id="nextbtn">
        <svg viewBox="0 0 20 20" id="next" class="button">
          <path d="M0 0 L10 10 L0 20"></path>
        </svg>
      </div>
    </div>
    <div class="home__about">
      <div class="wrapper">
        <div class="aboutus__inner">
          <div class="display__content">
            <p>
              The Kuenyehia Trust for Contemporary Art is a not-for profit
              organisation established by Elikem Nutifafa Kuenyehia in 2013 to
              support emerging and mid-career African artists, advance
              contemporary African Art, especially art of Ghanaian origin
              locally and internationally, promote a vibrant market for art
              locally and encourage art literacy.
            </p>
            <p>
              His majesty, Nana Kobina Nketsia V, Omanhen of Essikado
              Traditional Area of the Western Region of Ghana and former Chair
              of the Ghana Museums and Monuments Board is the patron of the
              Trust which is governed by an advisory board and a nine member
              board of trustees.
            </p>
            <p>
              The objectives of the Kuenyehia Trust for Contemporary Art are
              realised through:
            </p>
            <ul class="list__panel">
              <li>- The Kuenyehia Prize for Contemporary Ghanaian Art</li>
              <li>- The Creative Accelerator Program</li>
              <li>- The Thought Leadership Seminars: Telling Tall Stories</li>
              <li>- Intentional collaboration with select partners in the United State</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
