---
layout: layouts/default.njk
pageTitle: Kuenyehia Prize
---

<div class="prizepanel">
  <div class="wrapper">
    <div class="prizepanel__inner">
      <div class="heading">
        <a href="" class="panel__switch-alwayson">
          <div class="icon_wine">
            <img src="/assets/icon_wine.svg" alt="" />
          </div>
          <h3>THE KUENYEHIA PRIZE FOR CONTEMPORARY GHANAIAN ART</h3>
        </a>
      </div>
      <div class="display__content-alwayson">
        <p>
          A prize to find, reward and support the most outstanding Ghanaian
          artists between 25 and 40
        </p>
        <br />
        <p>
          The objective of the Kuenyehia Prize for Contemporary Ghanaian art is
          to make a modest contribution to the Ghanaian art ecosystem by
          inspiring the next generation of Ghanaian artists to produce work that
          will attract both local and international audiences. It will also draw
          attention to Ghanaian art and encourage increased patronage by the
          middle class and corporate Ghana.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="prizepanel">
  <div class="wrapper">
    <div class="prizepanel__inner">
      <div class="heading">
        <a href="" class="panel__switch">
          <div class="icon_wine">
            <img src="/assets/icon_wine.svg" alt="" />
          </div>
          <h3>{{shortlist.year}}</h3>
        </a>
      </div>
      <div class="display__content">
        <div class="artists">
          <div class="artist__list">
            <ul>
              <li>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <span> {{shortlist.artists[0]}} </span>
                </a>
              </li>
              <li>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <span> Damalie Esinam Rosemary [2nd runner-up] </span>
                </a>
              </li>
              <li>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <span> Comfort Arthur [1st runner-up] </span>
                </a>
              </li>
              <li>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  Emmanuel Obuobi Bekoe
                </a>
              </li>
              <li>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  Frederick Botchway
                </a>
              </li>
              <li>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  Josephine Ngminvielu Kuuire
                </a>
              </li>
              <li>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  Daniel Cole Ofoe Amegavie
                </a>
              </li>
              <li>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  Caleb Aryee
                </a>
              </li>
              <li>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  Simon Bowman Junior
                </a>
              </li>
              <li>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  Sedinam Awo Tsegah
                </a>
              </li>
              <li>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  Lesley Kafui Semackor
                </a>
              </li>
              <li>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  John Edem Tamakloe
                </a>
              </li>
            </ul>
          </div>

          <div class="prize-slide">
            <div class="slide"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="prizepanel">
  <div class="wrapper">
    <div class="prizepanel__inner">
      <div class="heading">
        <a href="" class="panel__switch">
          <div class="icon_wine">
            <img src="/assets/icon_wine.svg" alt="" />
          </div>
          <h3>2017</h3>
        </a>
      </div>
      <div class="display__content">
        <div class="artists">
          <div class="artist__list">
            <ul>
              <li>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <span> Yaw Owusu [winner] </span>
                </a>
              </li>
              <li>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <span> Damalie Esinam Rosemary [2nd runner-up] </span>
                </a>
              </li>
              <li>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <span> Comfort Arthur [1st runner-up] </span>
                </a>
              </li>
              <li>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  Emmanuel Obuobi Bekoe
                </a>
              </li>
              <li>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  Frederick Botchway
                </a>
              </li>
              <li>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  Josephine Ngminvielu Kuuire
                </a>
              </li>
              <li>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  Daniel Cole Ofoe Amegavie
                </a>
              </li>
              <li>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  Caleb Aryee
                </a>
              </li>
              <li>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  Simon Bowman Junior
                </a>
              </li>
              <li>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  Sedinam Awo Tsegah
                </a>
              </li>
              <li>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  Lesley Kafui Semackor
                </a>
              </li>
              <li>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  John Edem Tamakloe
                </a>
              </li>
            </ul>
          </div>

          <div class="prize-slide">
            <div class="slide"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
