---
layout: layouts/default.njk
pageTitle: Kuenyehia Prize
---

<div class="prizepanel">
  <div class="wrapper">
    <div class="prizepanel__inner">
      <div class="heading">
        <a href="" class="panel__switch-alwayson">
          <div class="icon_wine">
            <img src="/assets/imgs/icon_wine.svg" alt="" />
          </div>
          <h3>THE KUENYEHIA PRIZE FOR CONTEMPORARY AFRICAN ART</h3>
        </a>
      </div>
      <div class="display__content-alwayson">
        <p>
          The Kuenyehia Prize, the flagship of the Trust identifies, rewards and
          helps develop Ghana’s most outstanding artists between the ages of 25
          and 40. Winners and runners-up benefit from prize money and materials
          totalling thirty-five thousand cedis (GHS 35,000) each season.
        </p>
        <br />
        <p>
          Judges over the past four seasons include: Professor El Anatsui, the
          first African to be awarded the Golden Lion for lifetime achievement –
          the highest honour bestowed on an artist – at the 2015 Venice
          Biennale; Richard Scott, a South African artist of global
          repute; Gbenga Oyebode MFR, one of Nigeria’s most influential art
          collectors; and Professor Ablade Glover, one of the most prolific and
          collected Ghanaian artist.
        </p>
        <br />
        <p>
          The prominence that the Prize gives to its artists provides them with
          an accelerated boost in their careers, direct financial gain and
          immense opportunity both locally and internationally.
        </p>
      </div>
    </div>
  </div>
</div>

{% for lists in data %}
<div class="prizepanel">
  <div class="wrapper">
    <div class="prizepanel__inner">
      <div class="heading">
        <a href="" class="panel__switch">
          <div class="icon_wine">
            <img src="/assets/imgs/icon_wine.svg" alt="" />
          </div>
          <h3>{{ lists.Year }}</h3>
        </a>
      </div>
      <div class="display__content">
        <div class="artists">
          <div class="artist__list">
            <ul>
              {% for artist in lists.artists.list%}
              <li>
                <a href="#" rel="noopener noreferrer" style=" pointer-events: none">
                  <span> {{ artist }}</span>
                </a>
              </li>
              {%endfor%}
            </ul>
            <div class="catalogue">
        
             <a href="{{lists.catalogue}}" target="_blank">
              <svg class="icon__pdf">
                <use
              xlink:href="/assets/imgs/pdf.svg#kt-document-file-pdf"
               ></use>
              </svg>
               {{lists.Year}} Catalogue </a>
             </div>
          </div>
          <div class="prize__container">
            <div class="move__sec left"></div>
            <div class="move__sec right"></div>
          <div class="prize-slide">
          
           {% for img in lists.images.list %}
            <div class="slide" style="background-image: url({{img}})">
            </div>
            {%endfor%}
         
           
          </div> 
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
{%endfor%}
