---
layout: layouts/default.njk
pageTitle: Kuenyehia Prize
---

<div class="wrapper">
  <main>
    <div class="support__content">
        <div class="intro__text">
          <p>
          Kuenyehia relies on contributions from public and private funders, as
          well as individual supporters and patrons, to develop its activities.
          Vital donations ensure that we can continue to support emerging
          artists to research, develop, make and present new work.
          </p>
        </div>
     
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="slide__img" id="support-img1">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide__img" id="support-img2"> 
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide__img" id="support-img3">
          </div>
        </div>
      </div>
      <div class="swiper-button-next btn"></div>
      <div class="swiper-button-prev btn"></div>
    </div>

        <div class="intro__text">
          <p>
          Kindly consider supporting the trust by clicking the button below.
            <br />
            <a href="https://www.paypal.me/kuenyehiatrust" class="donate__btn">
            Donate
            </a>
          </p>
        </div>
    </div>
  </main>
</div>
